body{
	font-family: "Microsoft YaHei";
}

#cityname{
	color: white;
	background-color: rgba(48,48,48,0.4);
}
#cityname_input{
	color: white;
	background-color: rgba(48,48,48,0.4);
}
#error-msg{
	color: white;
	background-color: (0,0,0,0);
	text-align: center;
}
.cityname{
	margin-top: 2%;
}

.date{
	margin:25px;
	font-size:25px;
	float: center;
	text-align: center;
}
.weather-icon{
	color: white;
	background-color:rgba(48,48,48,0.4);
	font-size: 24px;
	border-radius: 5px;
	margin-bottom: 3%;
	text-align: center;
}

#realtimeweather{
	margin-top: 50%;
	margin-bottom: 50%;
}
.temperature{
	font-size: 50px;
	text-align: center;
	color: white;
	background-color: rgba(48,48,48,0.4);
	border-radius: 5px;
	margin-bottom:25px; 
}
.preweather{
	color: white;
	text-align: center;
	background-color: rgba(48,48,48,0.4);
	border:solid 1px;
	border-color: rgba(255,255,255,0.4);
	font-size: 20px;
}

